*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    padding: 20px 50px 0 50px;
}
.nav .logo{
    margin-right: 50px;
    display: block;
}
.nav a{
    color: #288bae;
}

.container .row .col .gambar img{
    width: 80%;
    margin: 35px;
}
.container .row .col .tulisan h1{
    margin-top: 20%;
}
.container .row .col .tulisan button{
    margin-top: 35px;
}

@media(max-width : 763px){
    .container .row{
        flex-direction: column;
    }
}
@media(max-width : 568px){
    body{
        padding: 25px;
    }
    p{
        font-size: 0.9em;
    }
}
@media(max-width : 568px){
    body{
        padding: 25px;
    }
    .nav .logo{
        display: none;
    }
    .nav{
        padding-left: 0;
    }
}