*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    padding: 20px 50px 0 50px;
}
.nav .logo{
    margin-right: 50px;
    display: block;
}
.nav a{
    color: #288bae;
}

h1{
    padding-top: 40px;
    text-align: center;
}
.container{
    max-width: 700px;
    margin: auto;
    margin-top: 45px;
}

@media(max-width : 568px){
    body{
        padding: 25px;
    }
    .nav .logo{
        display: none;
    }
    .nav{
        padding-left: 0;
    }
}